Schemas/EvenOdd_Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/EvenOdd_Schema" xmlns:tns="http://www.example.org/EvenOdd_Schema" elementFormDefault="qualified">

    <element name="EO_Schema" type="tns:EvenOddData"></element>

    <complexType name="EvenOddData">
    	<sequence>
    		<element name="Numbers" type="string"></element>
    	</sequence>
    </complexType>
</schema>