Schemas/RespSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/RespSchema" xmlns:tns="http://www.example.org/RespSchema" elementFormDefault="qualified">

    <element name="Output" type="tns:OutputType"></element>
    
    <complexType name="OutputType">
    	<sequence>
    		<element name="Add" type="int" minOccurs="0" maxOccurs="1"></element>
    		<element name="Sub" type="int" minOccurs="0" maxOccurs="1"></element>
    		<element name="Mul" type="int" minOccurs="0" maxOccurs="1"></element>
    		<element name="Div" type="double" minOccurs="0" maxOccurs="1"></element>
    	</sequence>
    </complexType>
</schema>